$white: #fff;
$dark-blue: #1d2631;
$color: #283645;
$bg-color: $white;
$wrap-width: 300px;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  color: $color;
}

.page-header {
    background-image: url(../img/intro.jpg);
    background-color: $dark-blue; 
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 320px;
    
      &__top-nav {
        clear: both;
        content: "";
          display: table;
    }
     
      &__logo {
        float: left;
      }

      &__logo-link {
        color: $white;
        font-size: 28px;
        text-decoration: none;
      }
}


.top-menu {
    float: right;
    
    &__links {
        display: none;
    }
}
